<!-- Our Footer Bottom Area -->
<section class="footer_bottom_area pt25 pb25">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="copyright-widget text-center">
                    <p>HCMUS-CSC13008-18CLC-KTPM2</p>
                    <p>18127185 Bùi Vũ Hiếu Phụng &bullet; 18127087 Dương Trần Mẫn Duy &bullet; 18127221 Bùi Văn Thiện
                    </p>
                    <p>Powered by Edumy Template</p>
                </div>
            </div>
        </div>
    </div>
</section>
<a class="scrollToHome" href="index.html#"><i class="flaticon-up-arrow-1"></i></a>
