<!-- 2nd Home Slider -->
<div class="home1-mainslider">
    <div class="container-fluid p0">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-banner-wrapper">
                    <div class="banner-style-one owl-theme owl-carousel">
                        <div class="slide slide-one" style="background-image: url(images/home/1.jpg); height: 75vh;">
                            <div class="container">
                                <div class="row home-content">
                                    <div class="col-lg-12 text-center p0">
                                        <h3 class="banner-title">Self EducatIon Resources and Infos</h3>
                                        <p>Technology is brining a massive wave of evolution on learning things
                                            on different ways.</p>
                                        <div class="btn-block"><a href="index.html#" class="banner-btn">Ready to
                                                get Started?</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide slide-one" style="background-image: url(images/home/2.jpg);height: 75vh;">
                            <div class="container">
                                <div class="row home-content">
                                    <div class="col-lg-12 text-center p0">
                                        <h3 class="banner-title">Self EducatIon Resources and Infos</h3>
                                        <p>Technology is brining a massive wave of evolution on learning things
                                            on different ways</p>
                                        <div class="btn-block"><a href="index.html#" class="banner-btn">Ready to
                                                get Started?</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slide slide-one" style="background-image: url(images/home/3.jpg);height: 75vh;">
                            <div class="container">
                                <div class="row home-content">
                                    <div class="col-lg-12 text-center p0">
                                        <h3 class="banner-title">Find the Best Courses</h3>
                                        <p>Technology is brining a massive wave of evolution on learning things
                                            on different ways</p>
                                        <div class="btn-block"><a href="index.html#" class="banner-btn">Ready to
                                                get Started?</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-btn-block banner-carousel-btn">
                        <span class="carousel-btn left-btn"><i class="flaticon-left-arrow left"></i> <span
                                class="left">PR <br> EV</span></span>
                        <span class="carousel-btn right-btn"><span class="right">NE <br> XT</span> <i
                                class="flaticon-right-arrow-1 right"></i></span>
                    </div><!-- /.carousel-btn-block banner-carousel-btn -->
                </div><!-- /.main-banner-wrapper -->
            </div>
        </div>
    </div>
</div>

<!-- Top Courses -->
<section id="top-courses" class="top-courses pb30">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="main-title text-center">
                    <h3 class="mt0">Browse Our Top Courses</h3>
                    <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="options" class="alpha-pag full">
                    <div class="option-isotop">
                        <ul id="filter" class="option-set" data-option-key="filter">
                            <li class="list-inline-item"><a href="index.html#all" data-option-value="*"
                                    class="selected">Developer</a></li>
                            <li class="list-inline-item"><a href="index.html#business"
                                    data-option-value=".business">Business</a></li>
                            <li class="list-inline-item"><a href="index.html#design"
                                    data-option-value=".design">Design</a></li>
                            <li class="list-inline-item"><a href="index.html#web" data-option-value=".web">Web</a></li>
                            <li class="list-inline-item"><a href="index.html#marketing"
                                    data-option-value=".marketing">Marketing</a></li>
                        </ul>
                    </div>
                </div><!-- FILTER BUTTONS -->
                <div class="emply-text-sec">
                    <div class="row" id="masonry_abc">
                        <div class="col-md-6 col-lg-4 col-xl-3 business design">
                            <div class="top_courses">
                                <div class="thumb">
                                    <img class="img-whp" src="images/courses/t1.jpg" alt="t1.jpg">
                                    <div class="overlay">
                                        <div class="tag">Best Seller</div>
                                        <div class="icon"><span class="flaticon-like"></span></div>
                                        <a class="tc_preview_course" href="index.html#">Preview Course</a>
                                    </div>
                                </div>
                                <div class="details">
                                    <div class="tc_content">
                                        <p>Ali TUFAN</p>
                                        <h5>Introduction Web Design with HTML</h5>
                                        <ul class="tc_review">
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#">(6)</a></li>
                                        </ul>
                                    </div>
                                    <div class="tc_footer">
                                        <ul class="tc_meta float-left">
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="flaticon-profile"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#">1548</a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="flaticon-comment"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#">25</a></li>
                                        </ul>
                                        <div class="tc_price float-right">$69.95</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3 business marketing">
                            <div class="top_courses">
                                <div class="thumb">
                                    <img class="img-whp" src="images/courses/t2.jpg" alt="t2.jpg">
                                    <div class="overlay">
                                        <div class="tag">Top Seller</div>
                                        <div class="icon"><span class="flaticon-like"></span></div>
                                        <a class="tc_preview_course" href="index.html#">Preview Course</a>
                                    </div>
                                </div>
                                <div class="details">
                                    <div class="tc_content">
                                        <p>Ali TUFAN</p>
                                        <h5>Designing a Responsive Mobile Website with Muse</h5>
                                        <ul class="tc_review">
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#">(6)</a></li>
                                        </ul>
                                    </div>
                                    <div class="tc_footer">
                                        <ul class="tc_meta float-left">
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="flaticon-profile"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#">1548</a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="flaticon-comment"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#">25</a></li>
                                        </ul>
                                        <div class="tc_price float-right">$69.95</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3 web design">
                            <div class="top_courses">
                                <div class="thumb">
                                    <img class="img-whp" src="images/courses/t3.jpg" alt="t3.jpg">
                                    <div class="overlay">
                                        <div class="tag">Top Seller</div>
                                        <div class="icon"><span class="flaticon-like"></span></div>
                                        <a class="tc_preview_course" href="index.html#">Preview Course</a>
                                    </div>
                                </div>
                                <div class="details">
                                    <div class="tc_content">
                                        <p>Ali TUFAN</p>
                                        <h5>Adobe XD: Prototyping Tips and Tricks</h5>
                                        <ul class="tc_review">
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#">(6)</a></li>
                                        </ul>
                                    </div>
                                    <div class="tc_footer">
                                        <ul class="tc_meta float-left">
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="flaticon-profile"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#">1548</a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="flaticon-comment"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#">25</a></li>
                                        </ul>
                                        <div class="tc_price float-right">$69.95</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3 business Web">
                            <div class="top_courses">
                                <div class="thumb">
                                    <img class="img-whp" src="images/courses/t4.jpg" alt="t4.jpg">
                                    <div class="overlay">
                                        <div class="tag">Best Seller</div>
                                        <div class="icon"><span class="flaticon-like"></span></div>
                                        <a class="tc_preview_course" href="index.html#">Preview Course</a>
                                    </div>
                                </div>
                                <div class="details">
                                    <div class="tc_content">
                                        <p>Ali TUFAN</p>
                                        <h5>Sketch: Creating Responsive SVG</h5>
                                        <ul class="tc_review">
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#">(6)</a></li>
                                        </ul>
                                    </div>
                                    <div class="tc_footer">
                                        <ul class="tc_meta float-left">
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="flaticon-profile"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#">1548</a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="flaticon-comment"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#">25</a></li>
                                        </ul>
                                        <div class="tc_price float-right">$69.95</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3 marketing">
                            <div class="top_courses">
                                <div class="thumb">
                                    <img class="img-whp" src="images/courses/t5.jpg" alt="t5.jpg">
                                    <div class="overlay">
                                        <div class="tag">Best Seller</div>
                                        <div class="icon"><span class="flaticon-like"></span></div>
                                        <a class="tc_preview_course" href="index.html#">Preview Course</a>
                                    </div>
                                </div>
                                <div class="details">
                                    <div class="tc_content">
                                        <p>Ali TUFAN</p>
                                        <h5>Design Instruments for Communication</h5>
                                        <ul class="tc_review">
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#">(6)</a></li>
                                        </ul>
                                    </div>
                                    <div class="tc_footer">
                                        <ul class="tc_meta float-left">
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="flaticon-profile"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#">1548</a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="flaticon-comment"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#">25</a></li>
                                        </ul>
                                        <div class="tc_price float-right">$69.95</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3 business marketing">
                            <div class="top_courses">
                                <div class="thumb">
                                    <img class="img-whp" src="images/courses/t6.jpg" alt="t6.jpg">
                                    <div class="overlay">
                                        <div class="tag">Top Seller</div>
                                        <div class="icon"><span class="flaticon-like"></span></div>
                                        <a class="tc_preview_course" href="index.html#">Preview Course</a>
                                    </div>
                                </div>
                                <div class="details">
                                    <div class="tc_content">
                                        <p>Ali TUFAN</p>
                                        <h5>How to be a DJ? Make Electronic Music</h5>
                                        <ul class="tc_review">
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#">(6)</a></li>
                                        </ul>
                                    </div>
                                    <div class="tc_footer">
                                        <ul class="tc_meta float-left">
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="flaticon-profile"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#">1548</a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="flaticon-comment"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#">25</a></li>
                                        </ul>
                                        <div class="tc_price float-right">$69.95</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3 design Web">
                            <div class="top_courses">
                                <div class="thumb">
                                    <img class="img-whp" src="images/courses/t7.jpg" alt="t7.jpg">
                                    <div class="overlay">
                                        <div class="tag">Top Seller</div>
                                        <div class="icon"><span class="flaticon-like"></span></div>
                                        <a class="tc_preview_course" href="index.html#">Preview Course</a>
                                    </div>
                                </div>
                                <div class="details">
                                    <div class="tc_content">
                                        <p>Ali TUFAN</p>
                                        <h5>How to Make Beautiful Landscape Photos?</h5>
                                        <ul class="tc_review">
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#">(6)</a></li>
                                        </ul>
                                    </div>
                                    <div class="tc_footer">
                                        <ul class="tc_meta float-left">
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="flaticon-profile"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#">1548</a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="flaticon-comment"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#">25</a></li>
                                        </ul>
                                        <div class="tc_price float-right">$69.95</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3 business">
                            <div class="top_courses">
                                <div class="thumb">
                                    <img class="img-whp" src="images/courses/t8.jpg" alt="t8.jpg">
                                    <div class="overlay">
                                        <div class="tag">Best Seller</div>
                                        <div class="icon"><span class="flaticon-like"></span></div>
                                        <a class="tc_preview_course" href="index.html#">Preview Course</a>
                                    </div>
                                </div>
                                <div class="details">
                                    <div class="tc_content">
                                        <p>Ali TUFAN</p>
                                        <h5>Fashion Photography From Professional</h5>
                                        <ul class="tc_review">
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="fa fa-star"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#">(6)</a></li>
                                        </ul>
                                    </div>
                                    <div class="tc_footer">
                                        <ul class="tc_meta float-left">
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="flaticon-profile"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#">1548</a></li>
                                            <li class="list-inline-item"><a href="index.html#"><i
                                                        class="flaticon-comment"></i></a></li>
                                            <li class="list-inline-item"><a href="index.html#">25</a></li>
                                        </ul>
                                        <div class="tc_price float-right">$69.95</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- School Category Courses -->
<section id="our-courses" class="our-courses pt90 pt650-992">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="main-title text-center">
                    <h3 class="mt0">Via School Categories Courses</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="img_hvr_box" style="background-image: url(images/courses/1.jpg);">
                    <div class="overlay">
                        <div class="details">
                            <h5>Design</h5>
                            <p>Over 800 Courses</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="img_hvr_box" style="background-image: url(images/courses/2.jpg);">
                    <div class="overlay">
                        <div class="details">
                            <h5>Business</h5>
                            <p>Over 1,400 Courses</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="img_hvr_box" style="background-image: url(images/courses/3.jpg);">
                    <div class="overlay">
                        <div class="details">
                            <h5>Software Development</h5>
                            <p>Over 350 Courses</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="img_hvr_box" style="background-image: url(images/courses/4.jpg);">
                    <div class="overlay">
                        <div class="details">
                            <h5>Web Development</h5>
                            <p>Over 640 Courses</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
