body {
    padding-bottom: 0;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    margin: 0 !important;
}

#table-of-contents {
    background-color: #cccccc;
    padding-top: 1em;
    height: 100vh;  
}


#lesson-container {
    padding: 5em;
}

#video-container {
    background-image: url(../../views/_static/Milky-Way.jpg);
    width: 60vw;
    height: 580px;
    margin-bottom: 2em;
}